.servicosPag {
  color: var(--cor0);
  background: var(--cor7);
  cursor: default;
}

.servicos {
  margin: 0rem 21.875rem;
  text-align: center;
  padding: 2.5em;
}

.servicos h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.servicos p {
  font-size: 1.3em;
}

.nossosServicosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25rem;
}

.nossosServicosContainer img {
  width: auto;
  height: 43.75rem;
}

.servicoText {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-left: 10em;
}

.servicoText h2 {
  font-size: 1.4em;
}

.item {
  flex-wrap: wrap;
  text-align: center;
  padding: 1.25rem;
  width: 18.75rem;
}

.item ion-icon {
  font-size: 3em;
}

.item h2 {
  margin: 1.25rem;
  text-transform: uppercase;
}

.item p {
  font-size: 1.1em;
}

/* Mobile */

@media (max-width: 1570px) {
  .servicos {
    margin: 0rem;
  }

  .servicoText {
    margin: 0%;
    text-align: center;
  }

  .nossosServicosContainer {
    justify-content: center;
    margin: 0rem;
    padding: 0.3125rem;
  }

  .nossosServicosContainer img {
    display: none;
  }
}
