@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --cor0: #ffffff;
  --cor1: #766f68;
  --cor2: #d6000d;
  --cor3: #d3d3d3;
  --cor4: #000000;
  --cor5: #12121250;
  --cor6: #9194967a;
  --cor7: #111c22;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
